html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 2%;
    background-color: rgb(52, 51, 51);
}

h1, h3{
    color: white;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
    font-size: 64px;
}

p{
    color: white;
}

#tigreInvertido{
    transform: scaleX(-1);
}

header{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 90%;
    height: 15vh;
    border-radius: 40px;
    box-shadow: 5px 5px gray;
    margin: 0 auto;
    img{
        width: 10%;
    }
    img:nth-child(2):hover, img:nth-child(8):hover{
        cursor: pointer;
    }
    button{
        width: 15%; 
        height: 90%;
        margin-left: 1%;
        background-color: lightgray;
        align-self: center;
        border-radius: 20px;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: gray;
        }
    }
    button:hover{
        background-color: black;
    }
}

main{
    display: grid;
    grid-template-areas: "informacion"
                         "proyecto"
                         "competencia";
    background-color: lightgray;
    width: 90%;
    height: 90vh;
    border-radius: 40px;
    box-shadow: 5px 5px gray;
    margin: 0 auto;
    margin-top: 2%;
    section:nth-child(1){
        grid-area: informacion;
        width: 85%;
        background-color: rgb(40, 36, 36);
        box-shadow: 5px 5px gray;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 2%;
        article{
            background-color: gray;
            width: 80%;
            margin: 0 auto;
            border-radius: 30px;
            text-align: center;
            border: 2px solid darkgray;
        }
    }
    section:nth-child(2){
        grid-area: proyecto;
        width: 85%;
        background-color: rgb(40, 36, 36);
        box-shadow: 5px 5px gray;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 2%;
        article{
            background-color: gray;
            width: 80%;
            margin: 0 auto;
            border-radius: 30px;
            text-align: center;
            border: 2px solid darkgray;
        }
    }
    section:nth-child(3){
        grid-area: competencia;
        width: 85%;
        background-color: rgb(40, 36, 36);
        box-shadow: 5px 5px gray;
        border-radius: 30px;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 2%;
        aside{
            display: flex;
            article{
                width: 45%;
                background-color: gray;
                margin: 0 auto;
                border-radius: 30px;
                border: 2px solid darkgray;
                li{
                    color: white;
                }
            }
        }
    }
}

footer{
    background-color: lightgray;
    width: 90%;
    height: 15vh;
    border-radius: 40px;
    box-shadow: 5px 5px gray;
    margin: 0 auto;
    article{
        background-color: gray;
        width: 80%;
        margin: 0 auto;
        border-radius: 30px;
        text-align: center;
        border: 2px solid darkgray;
    }
}

